.matchTitle {border-bottom : 1px solid #d5d5d5; text-align: center;padding : 20px 0; font-size: 17px;}

.title {border-top : 5px solid #212121; margin-top: 20px;  text-align: center;}
.title dt {border-bottom : 2px solid #212121; padding : 10px; margin : 20px; font-size: 15px;}
.team{ width: 400px; margin : auto;}
.title, .box { text-align: center; font-size: 14px; height: 50px; border-bottom : 1px solid #e2e2e6;}
.matchInfo .mid { width: 150px; background-color: #f8f7ff; margin : 0 10px !important;}

.matchDetail { position: relative; height: 100%;}
.hteam_arrow{ position : absolute; width: 30px; height: 30px; display: block;}
.ateam_arrow{ position : absolute; width: 30px; height: 30px; display: block;}
 i { font-size: 30px;}
.hteam{ top: 50%; left : 10px;}
.ateam{ top: 50%; right : 10px;}

.go_detail{position: absolute; width: 30px; height: 30px; display:block;}
.right {top:50%; right: 10px;}
.left {top:50%; left: 10px;}

/** squad */
.squad {display: table; width:1000px; margin-top:20px;}
.player_wrap{display:table-cell; width: 480px; float:right;}
.sqbox {padding : 5px;}
.player_wrap dl { width: 100%; border-bottom : 1px solid #212121;}
.player_wrap .tit { font-size: 15px; }
.player_wrap dt{ width: 20%; text-align: center; border-bottom: 2px solid #212121; border-top: 2px solid #212121;}
.player_wrap dd{ width: 20%; text-align: center; padding: 7px;}
.player_wrap .player_name { width: 40%;}
.player.goal {background-color: #ffa099; font-weight: 500;}

/** filed */
.filed {background-image:url("/img/filed.jpg"); background-size: cover; position: relative; background-position:center center; background-repeat: no-repeat; width: 480px; height: 668px; display:table-cell; float: left;}
.filed .player_imgbox {width: 80px; height: 80px; position:absolute; text-align:center;}
.filed .player_img{width: 100%; height: 100%;}
.filed .playerNm{text-align:center; background-color: #ffffff; margin-bottom: 10px;}
.filed .player_imgbox.GK{bottom:10px;left: calc(50% - 40px);}
.filed .player_imgbox.SW{bottom:90px;left: calc(50% - 40px);}
.filed .player_imgbox.LB{bottom:100px;left: 0;}
.filed .player_imgbox.LCB{bottom:100px;left: 100px;}
.filed .player_imgbox.CB{bottom:100px;left: calc(50% - 40px);}
.filed .player_imgbox.RCB{bottom:100px;right: 100px;}
.filed .player_imgbox.RB{bottom:100px;right: 0;}
.filed .player_imgbox.SW{bottom:100px;left: calc(50% - 40px);}
.filed .player_imgbox.LWB{bottom:200px;left: 0;}
.filed .player_imgbox.LDM{bottom:200px;left: 100px;}
.filed .player_imgbox.DM{bottom:200px;left: calc(50% - 40px);}
.filed .player_imgbox.RDM{bottom:200px;right: 100px;}
.filed .player_imgbox.RWB{bottom:200px;right: 0;}

.filed .player_imgbox.LM{bottom:calc(50% - 40px);left: 0;}
.filed .player_imgbox.LCB{bottom:calc(50% - 40px);left: 100px;}
.filed .player_imgbox.CM{bottom:calc(50% - 40px);left: calc(50% - 40px);}
.filed .player_imgbox.RCM{bottom:calc(50% - 40px);right: 100px;}
.filed .player_imgbox.RM{bottom:calc(50% - 40px);right: 0;}

.filed .player_imgbox.LAM{top:120px;left: 100px;}
.filed .player_imgbox.CAM{top:120px;left: calc(50% - 40px);}
.filed .player_imgbox.RAM{top:120px;right: 100px;}


.filed .player_imgbox.LW{top:80px;left: 0;}
.filed .player_imgbox.RW{top:80px;right: 0;}

.filed .player_imgbox.LCF{top:100px;left: 100px;}
.filed .player_imgbox.CF{top:100px;left: calc(50% - 40px);}
.filed .player_imgbox.RCF{top:100px;right: 100px;}

.filed .player_imgbox.LS{top:10px;left: 100px;}
.filed .player_imgbox.ST{top:10px;left: calc(50% - 40px);}
.filed .player_imgbox.RS{top:10px;right: 100px;}

.filed .player_imgbox.SUB{display:none;}