<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/match.css">
		<link rel="shortcut icon" type="image/x-icon" href="/img/ffgg_favicon_qp6_icon.ico">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
		<script src='https://unpkg.com/@babel/standalone/babel.min.js'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type='text/babel' src='/js/common.js'></script>
		<script type='text/babel' src='/js/popup.js'></script>
		<script type='text/babel' src='/js/{{ script }}.js'></script>
		<title></title>
	</head>
	<body{%if bodyClass %} class="body_{{ bodyClass }}"{% endif %}>
	<header class='header'>
	</header>
	
	<nav class='layout_width'>
	</nav>
	
	<main id='' class='matchDetail'>
	<div class='layout_width'>
	<div class='matchTitle'>경기 상세기록</div>
		<div class='hteam_arrow hteam arrow' data-matchId={{matchId}} data-team=home><i class='xi-angle-left'></i></div>
		<div class='ateam_arrow ateam arrow' data-matchId={{matchId}} data-team=away><i class='xi-angle-right '></i></div>
		<div class='matchInfo'>
		{% include "./_matchInfo.html" %}
		</div><!--matchInfo-->
		<div class='squadbox'>
		<!--
		{% include "./_squad.html" %}
		-->
		</div>
	</div>
	</main>
	<footer class='footer'>
	</footer>
	<iframe name='ifrmHidden' width='100%' height='500' frameborder='0' class='dn'></iframe>
	</body>
</html>